<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sf.golly"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.sf.golly.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.sf.golly.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.sf.golly.SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:parentActivityName="net.sf.golly.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.golly.MainActivity" />
        </activity>
        <activity
            android:name="net.sf.golly.OpenActivity"
            android:label="@string/app_name"
            android:parentActivityName="net.sf.golly.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.golly.MainActivity" />
        </activity>
        <activity
            android:name="net.sf.golly.HelpActivity"
            android:label="@string/app_name"
            android:parentActivityName="net.sf.golly.MainActivity"
            tools:ignore="UnusedAttribute"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.golly.MainActivity" />
        </activity>
        <activity
            android:name="net.sf.golly.InfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.sf.golly.EditActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.sf.golly.RuleActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.Dialog"
            android:name="net.sf.golly.StateActivity" >
        </activity>
    </application>

</manifest>
